.contenedorQuickFilter {
    display: flex;
    gap: 1rem;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

select {
    margin: 0 0.5rem;
    width: 15%;
    height: 5vh;
}

.filteredProductsContainer{
    display: flex;
    flex-wrap: wrap;

}