.text-slider {
    background-color: #eaeaea;
    align-items: center;
    width: 100%;
    height: 3rem;
    overflow: hidden;
  }
  
  .text-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    margin-top: 0.8rem;
  }
  
  .text {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
  