.contenedorVideoButton {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperBag {
    margin: 0;
    font-size: 2rem;
}

.contenedorVideoButton p {
    font-size: 1.1rem;
    margin: 0.8rem 0;
}

.contenedorVideoButton button {
    background-color: black;
    color: white;
    border: solid 1px black;
    box-shadow: 0 0 5px grey;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    padding: 0.4rem 0.4rem;
    transition: all 0.2s ease;
}

.contenedorVideoButton button:hover {
    background-color: grey;
    color: white;
    border: solid 1px grey;
    cursor: pointer;
}
